h1{
  margin-top: 10px;
  color: firebrick;
  text-align: center;
}

p{
  text-align: center;
  margin: auto;
  width: 60%;
  margin-bottom: 10px;
}

:host{
  background-color: #AAAFAA;
  width: 100%;
}
